body{
    background-image: url("https://pbs.twimg.com/media/EXR6yw3XsAMUSvo?format=jpg&name=large");
    background-size: cover;
    color:white;
    text-align: center;
}

li{
    display: inline-block;
}

li a{
  padding: 10px;
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
    background-color:rgba(255, 238, 0, 0.7);
    cursor: pointer;
    border-radius: 7px;
}

li a:active{
    background-color:rgba(255, 0, 106, 0.7);
    color:yellow;
}

.listaPosts{
    font-size: 25px;
}

.divIni{
   display:inline-block;
   margin-top: 15%;
   padding:30px;
   background-color: rgba(0, 255, 213, 0.25);
   width: 15%;
   height: 15%;
   border-radius: 7px;
   border-width: 3px;
   border-style: solid;
   cursor:help;
}

.divIniII{
    display:inline-block;
    margin-top: 5%;
    padding:30px;
    background-color: rgba(0, 255, 213, 0.35);
    width: 35%;
    height: 15%;
    border-radius: 7px;
    border-width: 3px;
    border-style: solid;
    cursor:help;
    font-size: 25px;
}

.divIniII p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.divIniIII{
    display:inline-block;
    margin-top: 1%;
    padding:30px;
    background-color: rgba(0, 255, 213, 0.25);
    width: 35%;
    height: 15%;
    border-radius: 7px;
    border-width: 3px;
    border-style: solid;
    cursor:help;
    font-size: 21px;
}

.divIniIII p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.divIMGIniIcon{
    width: 3%;
    height: 3%;
    vertical-align: middle;
}

.divIMGIniIcon:hover{
    width: 5%;
    height: 5%;
}

.divIMGIniIII{
    width: 100%;
    height: 35%;
}

.navU{
    background-color: rgba(43, 167, 167, 0.35);
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: left;
    border-color: aquamarine;
    border-width: 1px;
    border-style: solid;
}

.bttonPost{
    background-color: transparent;
    color:white;
    display: inline-block;
    border: 2px solid white;
    text-align: center;
}

.bttonPost:hover{
    background-color: white;
    color:black;
    display: inline-block;
    border: 2px solid white;
    text-align: center;
    cursor: pointer;
}

.bttonPost:active{
    background-color: rgba(255, 0, 106, 0.7);
    color:yellow;
}